<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    {{>header}}
    <header>
        <section>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Product Name</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Enter Product Name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">HSN / SAC</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Enter HSN/SAC">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Product Description</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Enter Product Description">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </section>
</body>

</html>