<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Home</title>
</head>

<body>
  {{>header}}
  <section>
    <form>
      <input class="search-box" type="text" placeholder="Search for Products">
      <button>Search</button>
      <p id="product-1"></p>
      <p id="product-2"></p>
    </form>
    <button><a href="/createProduct">Add Product</a></button>
  </section>
</body>

</html>