body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* header {
  background-color: #64879b;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
  color: white;
  height: 60px;
} */

/* nav {
  margin-top: 30px;
}

nav a {
  font-size: 23px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
} */
section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 75px;
}

.search-box {
  width: 400px;
  height: 20px;
}

/* button {
  background: #64879b;
  padding: 6px;
  color: white;
  border: 1px solid #cccccc;
  cursor: pointer;
  width: 100px;
  height: 30px;
} */
